
$parent_width_pop:20%;
$adjusted_width: $parent_width_pop * 0.9; // 90% of 20% = 18%

    
.cart_popup_container {
  position: fixed;
  top: 60px;
  right: 10px;
  width: $parent_width_pop;
  height: 100vh;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  z-index: 1000;
  border-radius: 10px;

  .close_btn {
    position: absolute;
    top: 20px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
}

.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px; 
//   width: $adjusted_width;
//   max-width: $adjusted_width;
    max-width: 90%;

  margin: 10px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);

  img {
    width: 80%;
    max-width: 400px;
    max-height: 100px;
    object-fit: contain; 

    border-radius: 8px;
    margin-bottom: 20px;
  }

  h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    text-align: center;
  }

  p {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
    text-align: center;

    &:first-of-type {
      font-weight: bold; // price
      color: #000;
      font-size: 22px;
    }
  }

  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 25px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    transition: background 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }
}

@keyframes slideOutToRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.cart_popup_container.closing {
  animation: slideOutToRight 0.4s ease forwards;
}
