<nav class="navbar">
  <!-- Brand -->
  <div class="navbar-left">
    <a routerLink="/" class="brand">E-Shop</a>
  </div>

  <!-- Search Bar -->
  <div class="navbar-center">
    <input type="text" placeholder="Search for products..." />
    <button class="search-btn">Search</button>
  </div>

  <!-- Navigation Links -->
  <div class="navbar-right">
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li >
        <a routerLink="/homepage/shop" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >Shop</a>
      </li>
      <li><a routerLink="/categories" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Categories</a></li>
      <li><a routerLink="/deals" routerLinkActive="active">Deals</a></li>
      <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      <li class="cart">
        <a routerLink="/homepage/cart" routerLinkActive="active">
          <span class="cart-icon">🛒</span>
          <span class="cart-count">{{ cartCount }}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>

