.login_form {

    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #ffffff;

     div{
        margin-bottom: 15px;
        display: flex;

        label{
            flex: 1;
            display: block;
            font-size: large;
            margin-bottom: 5px;
            font-weight: bold;
        }
        input{
            flex: 1;
            font-size: large;
          
        }
        button{
            margin-right: 10px;
            padding: 8px 16px;
            border: none;
            border-radius: 4px;
            background-color: #007bff;
            color: white;
            cursor: pointer;
            font-size: 14px;

            &:hover {
                background-color: #0056b3;
            }
        }

       

    }

}