on:
  push:
    branches:
      - "master"

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: bitovi/github-actions-angular-to-github-pages@v1.0.0
        with:
          input_path: dist/test-angular-app
          spa: true  # recommended for Angular routing
